@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;700;800&display=swap");

body {
  margin: unset;
  font-size: 12pt;

  font-family: "Catamaran", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 22pt;
  font-weight: 800;
}

h2 {
  font-size: 20pt;
  font-weight: 700;
}

h3 {
  font-size: 18pt;
  font-weight: 500;
}

h4 {
  font-size: 15pt;
  font-weight: 400;
}

p {
  word-wrap: break-word;
  white-space: pre-line;
}

* {
  box-sizing: border-box;
}
