.page {
  break-before: always;
  page-break-before: always;
  break-inside: avoid;
  page-break-inside: avoid;
  height: 297mm;
  width: 100%;

  padding: 10vw 2vw;

  background: white;
  position: relative;
}

.frame {
  height: 100vw;
  width: 100vw;

  padding: 2vw;
  margin: auto;

  background: #eee;
  position: relative;

  z-index: 1;
}

.content {
  height: 100%;
  width: 100%;
  padding: 3vw;

  background: #eee;
  z-index: 3;
}

.bleedBox {
  width: 4vw;
  height: 4vw;

  position: absolute;
  z-index: 1;
}

.bleedBoxTopRight {
  composes: bleedBox;

  top: -2vw;
  right: -2vw;

  border-left: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.bleedBoxTopLeft {
  composes: bleedBox;

  top: -2vw;
  left: -2vw;

  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.bleedBoxBottomRight {
  composes: bleedBox;

  bottom: -2vw;
  right: -2vw;

  border-left: 2px solid #eee;
  border-top: 2px solid #eee;
}

.bleedBoxBottomLeft {
  composes: bleedBox;

  bottom: -2vw;
  left: -2vw;

  border-right: 2px solid #eee;
  border-top: 2px solid #eee;
}

.banner {
  height: 4vw;
  width: 30vw;

  position: absolute;
  padding: 5px;

  text-align: center;
  color: whitesmoke;
  font-weight: 500;

  top: 6vw;
}

.bannerRight {
  composes: banner;
  transform: rotate(45deg);

  right: -6vw;
}

.bannerLeft {
  composes: banner;
  transform: rotate(-45deg);

  left: -6vw;
}

.pageNum {
  position: absolute;
  bottom: 3vw;

  color: black;
}

.pageNumLeft {
  composes: pageNum;
  left: 3vw;
}

.pageNumRight {
  composes: pageNum;
  right: 3vw;
}
