.title {
  text-align: center;
  text-decoration: underline;
}

.byline {
  font-weight: 300;
  font-style: italic;
  color: #888;
  font-size: 15pt;
}

.infoBoxes {
  display: flex;
  justify-content: center;
  align-content: stretch;
  bottom: 4vw;
  width: 90vw;
  position: absolute;
  max-height: 300px;
  border: 1px solid grey;
}

.infoBox {
  padding: 0.5em;
  width: 100%;
}

.infoBoxRight {
  composes: infoBox;
  border-left: 1px dashed grey;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.code {
  font-weight: 200;
  font-size: 12pt;
  padding: 3px;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 3px;

  font-family: monospace;
  text-decoration: none;
  color: black;
}

.codeclick {
  composes: code;
  cursor: pointer;
}

.codeclick:hover {
  background: lightskyblue;
}
